:root {
  /**
   * COLORS
   */

  /* background color */
  --bg-dark-blue: #001524;
  --bg-orange: #cf5c36;
  --bg-pale-blue: #7ea8be;
  --bg-pale-yellow: #efc88b;
  --bg-green: #588157;
  --bg-light-grey: #efefef;

  /*gradient color*/
  --gradient-1: linear-gradient(
    90deg,
    hsla(205, 100%, 7%, 1) 0%,
    hsla(202, 28%, 34%, 1) 60%,
    hsla(201, 33%, 62%, 1) 100%
  );

  /*text color */
  --text-light-grey: ##c9c9c9;
  --text-white: white;
  --text-black: black;
}

* {
  margin: 0;
  padding: 0;
}

.homepage-background {
  min-height: 100vh;
  width: 100%;
  background-image: url("./assets/wave-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
